body{
    padding:0px;
    margin:0px;
}


#video-grid{
    display:flex;
    justify-content:center;
}
video{
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main{
    display:flex;
    height: 100vh;
}

.main__left{
    flex:0.8;
    display: flex;
    flex-direction: column;
}
.main__videos{
    flex-grow: 1;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.main__right{
    flex:0.2;
}
.main__controls{
    display: flex;
    justify-content: space-between;
    background-color:rgb(34, 34, 34);
    color: #fff;

}
.main__controls__block{
    display: flex;
}

.main__controls__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}
.main__controls__button:hover{
    background-color:#343434;
    border-radius: 5px;
}
.main__controls__button i{
    font-size:24px;
}

.leave__meeting{
    color: #eb534b;
}

.main__right {
    display: flex;
    flex-direction: column;
    background-color:#242324;
    border-left: 1px solid #3D3D42;
    
}

.main__header{
    text-align: center;
    color: #f5f5f5;
}

.main__chat__window {
    flex-grow: 1;
    overflow-y: scroll;
}

.main__messenger__container{
    padding: 22px 12px;
    display: flex;
}
.main__messenger__container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5f5;
}
.messages{
    list-style-type: none;
    color:#f5f5f5;
    padding:0px;
}

.unmute,.stop {
    color: #cc3b33;
}
